<a href="https://colab.research.google.com/github/andresparral/repository-andresparra/blob/main/Copia_de_EXAMEN_ELECTIVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [9]:
url_micron= 'https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv'
df_micron = pd.read_csv(url_micron, encoding='latin-1', sep=',', low_memory=False)

df_emicron.head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273

In [3]:
df_emicron.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA', 'COD_DEPTO', 'AREA',
       'CLASE_TE', 'P35', 'P241', 'MES_REF', 'P3031', 'P3032_1', 'P3032_2',
       'P3032_3', 'P3033', 'P3034', 'P3035', 'P3000', 'GRUPOS4', 'GRUPOS12',
       'F_EXP'],
      dtype='object')

In [4]:
#MICRONEGOCIOS QUE HAY EN COLOMBIA
total = df_emicron["F_EXP"].sum()
print("Micronegocios en todo colombia:", int(total))

Micronegocios en todo colombia: 5297251

In [5]:
#PREGUNTA NUMERO 1
#TOMAMOS LOS REQUISITOS QUE NOS ESTA PIDIENDO LA PREGUNTA
micronegocioF = df_emicron[(df_emicron["COD_DEPTO"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P241"].between(18, 30))]
#CALCULAMOS MICRONEGOCIOS EXPANDIDOS
totalquindiohombres_1830 = micronegocioF["F_EXP"].sum()
print(f"Micronegocios en Quindío con propietarios hombres de 18 a 30 años:", int(totalquindiohombres_1830))

Micronegocios en Quindío con propietarios hombres de 18 a 30 años: 1929

In [6]:
#PREGUNTA NUMERO 2
#CAMBIAMOS ALGUNAS VARIABLES PARA DETERMINAR EL SEXO DE LAS MUJERES COMO 2
micronegocio_manu_FR = df_emicron[(df_emicron["COD_DEPTO"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"].between(20, 30)) & (df_emicron['GRUPOS4'] == 2)]
# CALCULAMOS LOS MICRONEGOCIOS
total_microMFR = micronegocio_manu_FR["F_EXP"].sum()
#IMPRIMIMOS EN PANTALLA LOS RESULTADOS DEL MODELO
print(f"Micronegocios de la industria manufacturera en Risaralda que son de mujeres entre los 20 y 30:", int(total_microMFR))

Micronegocios de la industria manufacturera en Risaralda que son de mujeres entre los 20 y 30: 471

In [7]:
#PREGUNTA NUMERO 3
#PEREIRA
micronegocio_com_FP40 = df_emicron[(df_emicron["AREA"] == 66) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron['GRUPOS4'] == 3)]
total_microCOFP40 = micronegocio_com_FP40['F_EXP'].sum()
print(f'Los micronegocios de Pereira con las caracteristicas son:', int(total_microCOFP40))
#ARMENIA
micronegocio_com_FA40 = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron['GRUPOS4'] == 3)]
total_microCOFA40 = micronegocio_com_FA40['F_EXP'].sum()
print(f'Los micronegocios de Armenia con las caracteristicas son:', int(total_microCOFA40))
#MANIZALES
micronegocio_com_FM40 = df_emicron[(df_emicron["AREA"] == 17) & (df_emicron["P35"] == 2) & (df_emicron["P241"] > 40) & (df_emicron['GRUPOS4'] == 3)]
total_microCOFM40 = micronegocio_com_FM40['F_EXP'].sum()
print(f'Los micronegocios de Manizales con las caracteristicas son:', int(total_microCOFM40))
print()
print(f'La ciudad capital del eje cafetero que tiene mas micronegocios en el comercio con dueñas mayores a 40 años es PEREIRA')

Los micronegocios de Pereira con las caracteristicas son: 3827
Los micronegocios de Armenia con las caracteristicas son: 2557
Los micronegocios de Manizales con las caracteristicas son: 2636

La ciudad capital del eje cafetero que tiene mas micronegocios en el comercio con dueñas mayores a 40 años es PEREIRA

In [8]:
#PREGUNTA NUMERO 4
micronegocioNN = df_emicron[(df_emicron["AREA"] == 63) & (df_emicron["P35"] == 1) & (df_emicron["P3035"] == 2)]
total_microNN = micronegocioNN['F_EXP'].sum()
print(f'En la ciudad de Armenia hay un total de', int(total_microNN), f'micronegocios de propietarios hombres que no tiene nombre comercial')

En la ciudad de Armenia hay un total de 11603 micronegocios de propietarios hombres que no tiene nombre comercial