In [1]:
import pandas as pd
import numpy as np

In [2]:
url_micron=("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv")
df_micron = pd.read_csv(url_micron, encoding='latin-1', sep=',', low_memory=False)
df_micron.head()

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273

In [3]:
df_micron.columns

Index(['DIRECTORIO', 'SECUENCIA_P', 'SECUENCIA_ENCUESTA', 'COD_DEPTO', 'AREA',
       'CLASE_TE', 'P35', 'P241', 'MES_REF', 'P3031', 'P3032_1', 'P3032_2',
       'P3032_3', 'P3033', 'P3034', 'P3035', 'P3000', 'GRUPOS4', 'GRUPOS12',
       'F_EXP'],
      dtype='object')

calcule la cantidad de micronecionegocio en que en el quindio encabezado por hombre y mujeres entre 18 y 28 años

In [4]:
total = df_micron["F_EXP"].sum()
print("Total Micronegocios en colombia:", int(total))

Total Micronegocios en colombia: 5297251

In [5]:
HP_Q=df_micron[(df_micron['COD_DEPTO']==63)&(df_micron['P35']==1)&(df_micron['P241']>=18)&(df_micron['P241']<=28)]
total_HP_Q_18_28= HP_Q["F_EXP"].sum()
print(":micronegocios encabezado por Hombre entre 18 a 28 años de edad", int(total_HP_Q_18_28))
MP_Q_18_28=df_micron[(df_micron['COD_DEPTO']==63)&(df_micron['P35']==2)&(df_micron['P241']>=18)&(df_micron['P241']<=28)]
total_MP_18_28=MP_Q_18_28['F_EXP'].sum()
print(":micronegocios encabezado por Mujer entre 18 a 28 años de edad", int(total_MP_18_28))

:micronegocios encabezado por Hombre entre 18 a 28 años de edad 1531
:micronegocios encabezado por Mujer entre 18 a 28 años de edad 2281

cual es la ciudad en la que existen mas micronegocios encabezados por hombres entre los 20 y 30 años

In [6]:
micronegocios_por_ciudad = df_micron[(df_micron['P35']==1)&(df_micron['P241']>=20)&(df_micron['P241']<=30)].groupby("AREA")["F_EXP"].sum()
ciuda_nombre ={
5: 'Medellín AM',
8: 'Barranquilla AM',
11: 'Bogotá',
13: 'Cartagena',
15 :'Tunja',
17: 'Manizales AM',
18: 'Florencia',
19: 'Popayán',
20: 'Valledupar',
23: 'Montería',
27: 'Quibdó',
41: 'Neiva',
44: 'Riohacha',
47: 'Santa Marta',
50: 'Villavicencio',
52: 'Pasto',
54: 'Cúcuta AM',
63: 'Armenia',
66: 'Pereira AM',
68: 'Bucaramanga AM',
70: 'Sincelejo',
73: 'Ibagué',
76: 'Cali AM',
88: 'San Andrés'
}
micronegocios_por_ciudad.index = micronegocios_por_ciudad.index.map(ciuda_nombre)
micronegocios_por_ciudad.sort_values(ascending=False)
# la ciudad con mas micronegocios encabezado por hombres entre 20 a 30 años de edad es medellin con 46673 micronegocios.

AREA
Medellín AM        46673.067401
Bogotá             43411.388549
Cali AM            20406.146912
Barranquilla AM    19781.299693
Cartagena          13908.991328
Bucaramanga AM     10639.084702
Santa Marta         6578.734060
Cúcuta AM           6200.491458
Montería            6187.615968
Valledupar          5560.657506
Sincelejo           5304.927054
Villavicencio       3897.633550
Pasto               3769.437547
Pereira AM          3184.807750
Manizales AM        2583.859249
Riohacha            2253.630152
Ibagué              1927.371528
Florencia           1859.906356
Popayán             1798.804577
Armenia             1641.085962
Neiva               1069.777822
Quibdó              1012.660344
Tunja                837.457854
San Andrés           146.142087
Name: F_EXP, dtype: float64

 en el departamento del tolima cuantos micronegocios existen encabezados por mujeres que no tienen una persona que les ayude en el micronegocio.

In [7]:
# en el departamento del tolima cuantos micronegocios existen encabezados por mujeres que no tienen una persona que les ayude en el micronegocio.
MP_TOLIMA=df_micron[(df_micron['COD_DEPTO']==73)&(df_micron['P35']==2)&(df_micron['P3031']==2)]
total_MP_TOLIMA=MP_TOLIMA['F_EXP'].sum()
print(":micronegocios encabezado por Mujer sin ayuda en el micronegocio en Tolima", int(total_MP_TOLIMA))

:micronegocios encabezado por Mujer sin ayuda en el micronegocio en Tolima 28203

cuantos micronegocios hay en la ciudad de bogota encabezado por mujeres, que esten en el sector de la industria manufacturera.

In [8]:
Mp_BOGOTA=df_micron[(df_micron['AREA']==11)&(df_micron['P35']==2)&(df_micron['GRUPOS4']==2)]
total_Mp_BOGOTA=Mp_BOGOTA['F_EXP'].sum()
print(":micronegocios encabezado por MUJERES en la ind.manufacturera", int(total_Mp_BOGOTA))

:micronegocios encabezado por MUJERES en la ind.manufacturera 24563

formula una pregunta que utilice minimas 2 a 3 variables.

In [9]:
# 
micron_H20_30_Man_Flor_Tuja=df_micron[((df_micron['P35']==1)&(df_micron['P241']>=20)&(df_micron['P241']<=30))&((df_micron['COD_DEPTO']==17)|(df_micron['COD_DEPTO']==18)|(df_micron['COD_DEPTO']==15))].groupby("COD_DEPTO")["F_EXP"].sum()
ciudad_nombre={
17: 'Manizales AM',
18 :'Florencia',
19 :'Popayán'
}
micron_H20_30_Man_Flor_Tuja.index= micron_H20_30_Man_Flor_Tuja.index.map(ciuda_nombre)
micron_H20_30_Man_Flor_Tuja.sort_values(ascending=False)

COD_DEPTO
Tunja           7564.012733
Manizales AM    6583.010152
Florencia       5415.956894
Name: F_EXP, dtype: float64

In [10]:
# cuantos hombres entre 20 y 30 años tienen micronegocios en las ciudades de manizales, florencia y tunja, con correo electronico
HP_tunja=df_micron[(df_micron['AREA']==15)&(df_micron['P35']==1)&(df_micron['P241']>=20)&(df_micron['P241']<=30)&(df_micron['P3000']==1)]
total_HP_tunja=HP_tunja['F_EXP'].sum()
print(":micronegocios encabezado por Hombre entre 20 a 30 años de edad en Tunja", int(total_HP_tunja))

HP_florencia=df_micron[(df_micron['AREA']==18)&(df_micron['P35']==1)&(df_micron['P241']>=20)&(df_micron['P241']<=30)&(df_micron['P3000']==1)]
total_HP_florencia=HP_florencia['F_EXP'].sum()
print(":micronegocios encabezado por Hombre entre 20 a 30 años de edad en Florencia", int(total_HP_florencia))

HP_manizales=df_micron[(df_micron['AREA']==17)&(df_micron['P35']==1)&(df_micron['P241']>=20)&(df_micron['P241']<=30)&(df_micron['P3000']==1)]
total_HP_manizales=HP_manizales['F_EXP'].sum()
print(":micronegocios encabezado por Hombre entre 20 a 30 años de edad en Manizales", int(total_HP_manizales))

:micronegocios encabezado por Hombre entre 20 a 30 años de edad en Tunja 340
:micronegocios encabezado por Hombre entre 20 a 30 años de edad en Florencia 336
:micronegocios encabezado por Hombre entre 20 a 30 años de edad en Manizales 299